<div class="box">
    <% #provide(:name, 'All users') %>
        <h2 class="box-title">Have Ranking</h1>
        <div class="row">
            <div>
                <ul class="col-md-6 col-md-offset-3 media-list">
                    <% @ranking.each do |ranking| %>
                        <li class="media">
                         <%= ranking %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
</div>